@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Roboto Mono", monospace;
}

body {
    background-color:#121212;
    margin: 0;
    padding: 0;
}

.icon {
    padding: 0;
    color: #e5e7eb;
    font-size: 256px;
}

.text{
    color: #967bb6;
    font-size: 32px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    background-color: #967bb6;
    padding: 30px;

    justify-content: center;
    align-items: center;

    font-size: 36px;
    font-style: italic;
}

#round {
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

#choice {
    display: flex;
    padding: 30px;

    justify-content: center;
    align-items: center;
    gap: 32px;
}

#round div {
    width: 300px;
    height: 400px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    color: #967bb6;
    border: none;
    border-radius: 48px;
    font-size: 80px;
    width: 100px;
    height: 100px;
    border: 6px solid #967bb6;

}

button:hover {
    background-color: rgb(196, 196, 196);
}